/*
 * This file is part of Glugox.
 *
 * (c) Glugox <glugox@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *//* 
    Created on : 14-Sep-2018, 02:43:37
    Author     : User
*/
.modal-wrapper {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
